<%= render "layouts/setting" %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">ユーザーログイン画面</h2>
      <div class="box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p></p><%# 間隔調整 %>



      <div class="field text-center">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <p></p><%# 間隔調整 %>

      <div class="field text-center">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <p></p><%# 間隔調整 %>

      <% if devise_mapping.rememberable? %>
        <div class="field text-center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <p></p><%# 間隔調整 %>
      <% end %>

      <div class="actions text-center">
        <%= f.submit "Log in", class:"btn btn-primary btn-lg" %>
      </div>
      <p></p><%# 間隔調整 %>
    <% end %>

      <div class="link text-center">
        <%= render "users/shared/links" %>
      </div>
      <p></p><%# 間隔調整 %>

      </div><%# box %>
    </div><%# col-md-8 col-md-offset-2 %>
  </div><%# row %>
</div><%# container %>
