<%= render "layouts/setting" %>


<div class="container">
    <div class="row">
        <h1 class="reservation-registration-title text-center">予約登録画面</h1>
        <%# エラーメッセージ表示 %>
        <%= render "layouts/error" ,model: @reservation %>

        <div class="col-sm-6 col-sm-offset-3">
            <%= form_with(model: @reservation, local:true) do |f| %>
            <%# 店舗名 %>
            <div class="row form-box">
                <label for="" class="text-center">■店舗名</label>
                <div class="form">
                    <p style="color:#5f3ce3;"><strong><%= @restaurant.restaurant_name %></strong></p>
                </div>
            </div>

            <%# 予約日 %>
            <div class="row form-box">
                <label for="" class="text-center">■予約日</label>
                <div class="form">
                    <%= f.text_field :usage_day, id:'use_day', class:"fieldset__input js__datepicker text-center", placeholder:"予約日を指定してください" %></br></br>
                </div>
            </div>

            <%# 予約開始時間 %>
            <div class="row form-box">
                <label for="" class="text-center">■予約開始時間</label>
                <div class="form">
                    <%= f.text_field :use_start_time, id:'use_start_time', class:"fieldset__input js__datepicker text-center", placeholder:"開始時刻を指定してください" %></br></br>
                </div>
            </div>

            <%# 予約終了時間 %>
            <div class="row form-box">
                <label for="" class="text-centter">■予約終了時間</label>
                <div class="form">
                    <%= f.text_field :use_end_time, id:'use_end_time', class:"fieldset__input js__datepicker text-center", placeholder:"終了時刻を指定してください" %></br></br>
                </div>
            </div>


            <%# 利用人数 %>
            <div class="row form-box">
                <label for="" class="text-center">■利用人数</label>
                <div class="form">
                    <%= f.select :usage_number, options_for_select((1..20).to_a), {}, class: "form-control" %>
                </div>
            </div>

            <%# 支払方法 %>
            <div class="row form-box">
                <label for="" class="text-center">■お支払方法</label>
                <p>銀行振込・代引き・クレジットカードを選択できます。</p>
                <div class="box-radius">
                    <label style="margin-right:70px;"><%= f.radio_button :payment, '現地払い', :checked=>"checked",:onclick=>"payBtnClose()" %>現地払い</label>
                    <label style="margin-right:70px;"><%= f.radio_button :payment, '銀行振込',:onclick=>"payBtnClose()" %>銀行振込</label>
                    <label style="margin-right:70px;"><%= f.radio_button :payment, 'クレジットカード', class:"pay-check" ,:onclick=>"payBtnOpen()" %>クレジットカード</label>
                </div>
            </div>

            <div class="row form-box">
                <%# hidden_fieldで情報を受け渡す %>
                <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
                <%= f.submit "予約確定" ,class:"btn btn-primary btn-lg" %>
            </div>
            <% end %>

        <%# pay.jp %>
        <div class="row form-box">
            <div id="pay">
            <p class="pay-text">※支払金額とカード情報を入力してください</p>
                <%# <form action="/reservations/pay" method="post">%>
                <%= form_with(local: true,url: pay_reservations_path, id: "charge-form") do |pay| %>
                <label for="" class="text-center">■支払金額</label>
                <div class="box"><%= pay.text_field :amount %></div>
                <div class="box">
                    <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>"></script>
                </div>
                <% end %>
            </div><%# id=pay %>
        </div>

        </div><%# col-sm-6 col-sm-offset-3 %>
    </div><%# row %>
</div><%# container %>



<%# pay.jp表示関数 %>
<script>
    function payBtnOpen(){
        let p = document.getElementById("pay");
        p.style.display = 'block';
    }
    function payBtnClose(){
        let p = document.getElementById("pay");
        p.style.display = 'none';
    }
</script>
