<%= render "layouts/setting" %>

<div class="container"><!-- 検索フィールド -->
    <div class="row">
        <h1 class="search-title text-center">Search for Space!</h1>

        <div class="search-wrapper">
            <%= search_form_for @search, url: restaurants_path do |f| %>
                <%# 店舗-検索 %>
                <div class="search-place col-sm-6">
                    <%= f.search_field :restaurant_name_or_facility_or_seat_number_cont_any, placeholder: "空きスペースを探す" %>
                </div>
                <%# 都道府県ソート %>
                <div class="search-prefecture col-sm-6">
                    <%= f.search_field :restaurant_address_or_prefecture_cont_any, placeholder: "エリアを入力する" %>
                    <%# collect_selet実装予定 %>
                </div><!-- 都道府県 -->

                <%# 検索ボタン %>
                <div class="search-btn col-xs-12 text-center">
                    <button class="search-icon"><span><%= f.submit "検索" %></span></button>
                </div>

            <% end %>
        </div>
    </div><!-- row -->
</div><!-- container -->




<% if @results.any? %><!-- result.anyにヒットした場合 -->
<% @results.each do |results| %>
<div class="container">
    <div class="row">

        <%# 画像表示 %>
        <div class="col-xs-6">
            <%# slick実装 %>
            <div class="restaurant-image">
                <!-- Active-Strage 店舗画像  -->
                <% results.images.each do |images| %>
                    <%= image_tag images, :size =>'300x190', class: 'trim' %>
                <% end %>
            </div>
        </div>

        <%# 店舗情報表示 %>
        <div class="col-xs-6">
            <p class="restaurant-index">
                <!-- 店舗名 -->
                <h3 class="text-center"><%= results.restaurant_name %></h3>
            </p>
            <p></p>
            <h5 class="restaurant-index">
                <!-- アクセス -->
                <span class="glyphicon glyphicon-map-marker"></span>
                <%= results.prefecture %>
                <%= results.restaurant_address %>
            </h5>
            <p></p>
            <h5 class="restaurant-index">
                <!-- 利用可能時間 -->
                <p><span class="glyphicon glyphicon-time"> 利用可能時間</span></p>
                <p>
                    利用開始時刻:<%= results.available_start_time.strftime('%Y年%m月%d日 %H時%M分') %>
                </p>
                <p>
                    利用終了時刻:<%= results.available_end_time.strftime('%Y年%m月%d日 %H時%M分') %>
                </p>

            </h5>
            <p></p>
            <strong>
                <!-- 利用予定料金 -->
                <h5 style="color:red;" class="restaurant-index">
                    ¥<%= results.scheduled_usage_fee %>/時間
                </h5>
            </strong>
                <p></p>

                <%# カレンダー実装予定 %>


                <!-- 店舗詳細リンク -->
                <h5 class="restaurant-index">
                    <%= link_to ">>店舗詳細", restaurant_path(results) %>
                </h5>
                <p></p>
        </div>
    </div><!-- row -->
</div><!-- container -->
<% end %><!-- resultsのEND -->


<div class="container">
    <div class="row">
        <!-- ページネイション -->
        <div class="col-xs-12 col-sm-12 text-center"><%= paginate @results %></div>
    </div>
</div>

<% else %><!-- result.anyにヒットしなかった場合 -->
<div class="container">
    <div class="row">
        <strong>
            <p class="text-center" style="color:red;">
                該当する店舗が見つかりませんでした。</br>
                もう一度、検索してください。
            </p>
        </strong>
    </div>
</div>

<% end %><%# results.any? %>
