<%= render "layouts/setting" %>


<div class="container">
    <div class="row">
                <h1 class="restaurant-registration-title text-center">Restaurant Registration</h1>
        <div class="col-sm-6 col-sm-offset-3">
        <%= form_with(model: @restaurant, local:true) do |f| %>

            <%# 店舗名 %>
            <div class="row form-box">
                <label for="" class="text-center">■店舗名</label>
                <div class="form">
                    <%= f.text_field :restaurant_name, class: "form-control text-center", placeholder: "飲食店名を入力してください" %>
                </div>
            </div>

            <%# 店舗写真 %>
            <div class="row form-box">
                <label for="" class="text-center">■店舗写真</label>
                <div class="form">
                    <%= f.file_field :images, multiple: true %>
                </div>
            </div>

        <%# 利用予定料金 %>
        <div class="row form-box">
            <label for="" class="text-center">■利用予定料金（1人/1時間当たり）</label>
            <div class="form">
                <%= f.text_field :scheduled_usage_fee, class: "form-control", placeholder: "料金を設定してください" %>
            </div>
        </div>

        <%# 設備 %>
        <div class="row for-m-box">
            <label for="" class="text-center">■設備</label>
            <div class="form">
                <%= f.text_field :facility, class: "form-control", placeholder: "設備を入力してください" %>
            </div>
        </div>

        <%# 利用可能時間 %>
        <div class="section__block section__block--scoped">
            <fieldset class="fieldset fieldset--demo">
                <div class="fieldset__wrapper">
                    <label> ■利用可能日 </label>
                    <%= f.text_field :possible_day, id:'use_day', class:"form-control fieldset__input js__datepicker", placeholder:"Try me&hellip;" %></br></br>
                    <label> ■利用可能開始時間　</label></br>
                    <%= f.text_field :available_start_time, id:'use_start_time', class:"fieldset__input js__datepicker", placeholder:"Try me&hellip;" %></br></br>
                    <label> ■利用可能終了時間　</label></br>
                    <%= f.text_field :available_end_time, id:'use_end_time', class:"fieldset__input js__datepicker", placeholder:"Try me&hellip;" %></br></br>
                </div>
            </fieldset>
        </div>

        <%# 定休日です %>
        <div class="row form-box">
            <div class="col-sm-2">
                <label> ■定休日 </label></br>
                <%= f.text_field :rest_day, id:'rest_day', class:"fieldset__input js__datepicker", placeholder:"Try me&hellip;" %>
            </div>
        </div>


        <%# 住所 %>
        <div class="row form-box">
            <div class="col-sm-2">
                <label for="">■住所</label>
            </div>
            <div class="col-sm-10">
                <%= f.text_field :restaurant_address, class: "form-control", placeholder: "住所を入力してください" %>
            </div>
        </div>

        <%# 座席数 %>
        <div class="row form-box">
            <div class="col-sm-2">
                <label for="">■座席数</label>
            </div>
            <div class="col-sm-10">
                <%= f.select :seat_number, options_for_select((1..20).to_a), {}, class: "form-control", :style=>"width:50px;display:inline-block;margin-top:20px;" %>
            </div>
        </div>

        <%# 都道府県 %>
        <div class="row form-box">
            <div class="col-sm-2">
                <label for="">■都道府県</label>
            </div>
            <div class="col-sm-10">
                <%= f.select :prefecture, Restaurant.prefectures.keys, {}, class: "form-control", :style=>"width:50px;display:inline-block;margin-top:20px;" %>
            </div>
        </div>

        <%# 登録ボタン %>
        <div class="row form-box">
            <div class="col-sm-12" style="text-align:center";>
                <%= f.submit "Update", class: "btn btn-default", :style=>"width: 80px;" %>
            </div>
        </div>

        <% end %>


        </div>





    </div><%# row %>
</div><%# container %>
