<header class="container-fluid">
    <div class="row">


        <!-- logoの表示 -->
        <div class="logo pull-left">
            <%= link_to root_path, class: 'button-top' do %>
                <%= image_tag "space-share.jpg", size:'70x70' %>
            <% end %>
        </div>


        <div class="header-box pull-right">
        <%# Userログイン中 %>
        <% if user_signed_in? %>
            <div class="login-status pull-right">
                <!-- 飲食店一覧画面に遷移する -->
                <li class="nav-list">
                    <div class="header-link">
                        <%= link_to "Index", restaurants_path, :style=>"color:white;", class: 'button' %>
                    </div>
                </li>
                <!-- ユーザー詳細画面に遷移する -->
                <li class="nav-list">
                    <div class="header-link">
                        <%= link_to "My page", user_path(current_user), :style=>"color:white;", class: 'button' %>
                    </div>
                </li>
                <span class="glyphicon glyphicon-user" style="margin-right:10px;" ></span>
                <span style="color:#ac177c;"><%= current_user.last_name %></span>さん<br>
                ログイン中<br>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </div>

        <%# Ownerログイン中 %>
        <% elsif owner_signed_in? %>
            <div class="login-status pull-right">
                <!-- 飲食店登録画面に遷移する -->
                <li class="nav-list">
                    <div class="header-link">
                        <%= link_to "restaurant", new_restaurant_path, :style=>"color:white;", class: 'button' %>
                    </div>
                </li>
                <!-- オーナー詳細画面に遷移する -->
                <li class="nav-list">
                    <div class="header-link">
                        <%= link_to "My page", owner_path(current_owner), :style=>"color:white;", class: 'button' %>
                    </div>
                </li>
                <span class="glyphicon glyphicon-user" style="margin-right:10px;" ></span>
                <span style="color:#ac177c;"><%= current_owner.last_name %></span>さん<br>
                ログイン中<br>
                <%= link_to "ログアウト", destroy_owner_session_path, method: :delete %>
            </div>



        <%# ログイン外 %>
        <% else %>
            <% if current_page?(root_path) %>
            <nav class="header-nav">
                <ul>
                    <li class="nav-list">
                        <div class="header-link">
                            <a href="#concept-area" class="button">Concept</a>
                        </div>
                    </li>
                    <li class="nav-list">
                        <div class="header-link">
                            <a href="#service-area" class="button">Service</a>
                        </div>
                    </li>
            <% end %><%# current_page?(root_path) %>

                    <!-- 飲食店一覧画面に遷移する -->
                    <li class="nav-list">
                        <div class="header-link">
                            <%= link_to "Index", restaurants_path, :style=>"color:white;", class: 'button' %>
                        </div>
                    </li>

                    <!-- ユーザーの詳細画面に遷移する -->
                    <li class="nav-list">
                        <div class="header-link">
                            <% if current_user %>
                                <%= link_to "User", user_path(current_user.id), :style=>"color:white;", class: 'button' %>
                            <% else %>
                                <%= link_to "User", new_user_registration_path, :style=>"color:white;", class: 'button' %>
                            <% end %>
                        </div>
                    </li>

                    <!-- オーナー詳細画面に遷移する -->
                    <li class="nav-list">
                        <div class="header-link">
                            <% if current_owner %>
                                <%= link_to "Owner", owner_path(current_owner.id), :style=>"color:white;", class: 'button' %>
                            <% else %>
                                <%= link_to "Owners", new_owner_registration_path, :style=>"color:white;", class: 'button' %>
                            <% end %>
                        </div>
                    </li>
                </ul>
            </nav>

        <% end %><!-- if user/owner/else     -->

        </div><!-- header-box -->
    </div><!-- row -->
</header><!-- container-fluid -->
